.daily-forecast {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2em 1.5em;

  &__day {
    font-size: 1.5rem;
    font-weight: 700;

    flex: 8;
  }

  &__temperature {
    font-size: 1.5rem;
    font-weight: 700;

    flex: 1;
  }

  &__icon {
    width: 1.9rem;
  }

  @media (min-width: 900px) {
    flex-direction: column;
    align-items: center;
    min-height: 175px;

    padding: 0 2em;

    &__day {
      font-size: 1.9rem;
      flex: 0;
    }

    &__temperature {
      font-size: 2rem;
      font-weight: 900;
      order: 1;
      flex: 0;
    }

    &__icon {
      width: 6.25rem;
      flex: 0;
    }
  }
}

.daily-forecast:last-child {
  padding-bottom: 0;
}
